# URL base para consumir el backend de Django (dentro de Docker puedes usar http://backend:8000/api)
VITE_API_BASE_URL=http://localhost:8000/api
# Puerto opcional para el servidor de Vite
VITE_PORT=5173
